body{
    color: #c9d1d5;
    background-color: #0c243c;
    padding-top: 17vw;
}
nav{
    text-align: center;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #55c2c3;
    color: #0c243c;
    position: fixed;
    @media only screen and (max-width: 600px) {
        height: 24vw;
    }
    height: 15vw;
    line-height: 1vw;
    z-index:1;
    text-shadow: 2px 2px #c9d1d5;

}
div{
    scroll-margin-top: 17vw;
}

.jump{
    margin-bottom: 5px;
    background-color: #0c243c;
    color: #c9d1d5;
    border: none;
    transition: opacity 0.15s;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 2px 2px #c9d1d5;
    font-size: 2.0vw;
    
}
.jump:hover{
    opacity: 0.8;
    cursor: pointer;
}


.me{
    @media only screen and (max-width: 600px) {
        height: 17vw;
    }
    height: 13vw;
    border-radius: 50%;
    margin: 0;
    left: 1vw;
    top: 1vw;
    position: absolute;
}


h2{
    color: #55c2c3;
}

