.contact{
    margin: 5px;
    text-align: center;
}

.linkedin{
    margin-left: auto;
    margin-right: auto;
}   
.linkedin-button{
    border: none;
    padding: 0;
    background-color: inherit;
    transition: opacity 0.15s;
    width: 100%;
}
.linkedin-button:hover{
    opacity: 0.8;
}
.linkedin-button:active{
    opacity: 0.4;
}
.linkedin-img{
    width: 7%;
}
